h2, span{
    text-align: left;
    margin: 0px;
    padding-left: 5%;
    white-space: nowrap;
}

span.filteres{
    display: inline;
    color: #7C7D7D;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 40px 15px 20px; 
}

.filteres{
    text-align: left;
}

ul, li{
    display: inline-block;
}

label{
    padding: 10px 20px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

[type="checkbox"]:checked+label {
    background-color: rgb(50, 94, 136);
    color: #61DAFB;
}

.board{
    display: flex;
}

.columns{
    width:100%;
    display: flex;
    justify-content: space-around;
}