label{
    font-size: 20px;
}

#boardEditName{
    width: 40%;
}

.card{
    background-color: azure;
    margin-left: 10%;
    margin-top: 5%;
    padding: 20px;
    width: 80%;
    height: 500px;
}

.placeToColumnName{
    height: 60px;
}

.card div.inline{
    margin-top: 0;
}

button.btn.left {
    margin-top: 10px;
}

.columns div{
    padding: 10px;
    font-size: 18px;
    border: 1px dotted dodgerblue;
}

.filterProperties{
    height: 100px;
}
